@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color-scheme: dark;
  color: white;
  background: black;
  width: 100vw;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.title {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
}

.run-data {
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.15;
  text-align: left;
  list-style-type: none;
  background: rgb(40, 40, 40);
  box-shadow: 10px 10px 0 0 rgb(25, 25, 25);
  width: clamp(20rem, 50%, 40rem);
  margin-inline: auto;
}

.run-data>li {
  padding: .5rem;
}

.new-run-data {
  padding-inline: .5rem;
}

.list-title {
  font-size: 3rem;
  margin-block: 1rem;
  width: 100%;
  text-align: center;
}

.recent-runs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 50;
}

.search-input {
  width: clamp(20rem, 50%, 40rem);
  height: 3rem;
  font-size: 2rem;
  padding-inline: 1rem;
}

.search-input-field {
  width: 60%;
  height: 100%;
  font-size: 2rem;
  padding-inline: 1rem;
}

.search-dropdown-field {
  width: 40%;
  height: 3rem;
  font-size: 2rem;
  padding-inline: 0;
  margin: 0;
  background: #3b3b3b;
  position: absolute;
  top: 0;
}

.search-dropdown {
  width: clamp(20rem, 50%, 40rem);
  height: 3rem;
  font-size: 2rem;
  padding-inline: 0;
  margin-block: .25rem;
  background: #3b3b3b;
}

.set-fixed{
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 1rem;
  height: auto;
}

.set-fixed-short{
  position: fixed;
  top: 0rem;
  left: 0;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  height: auto;
}

.new-input {
  width: clamp(20rem, 50%, 40rem);
  max-width: 100%;
  height: 3rem;
  font-size: 2rem;
  padding-inline: 1rem;
}

.new-label {
  font-size: 2rem;
  margin-block: 1rem;
}

.new-notes {
  height: 10rem;
  font-size: 1.5rem;
  padding-top: 1rem;
  resize: none;
}

.no-padding {
  padding: 0;
}

.page-btn{
  height: 3rem;
  width: 1.5rem;
  font-size: 2rem;
}

.transparent{
  background: transparent;
  color: transparent;
}

.width-clamp{
  width: clamp(20rem, 50%, 40rem);
}

.format{
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.15;
  list-style-type: none;
  background: rgb(40, 40, 40);
  box-shadow: 10px 10px 0 0 rgb(25, 25, 25);
  margin-inline: auto;
}


@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .run-data {
    font-size: 1.5rem;
  }

  .list-title {
    font-size: 2rem;
  }

  .small-screen-switch-flex-col {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .medium-screen-switch-flex-col {
    flex-direction: column;
  }

  .new-notes-label {
    margin-top: 0;
    margin-inline: auto;
  }

  .new-notes {
    margin-inline: auto;
  }
}